body {
   font-family: Helvetica, sans-serif;
   background: #c3eeb8;
   justify-content: center;
 }

.content-box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 20px auto;
 }

.converter-box {
    background-color: #ecf5eb;
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
 }

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

.small-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

.header1 {
    text-align: center;
  }

.header2 {
 }

.recipe-title {
 display: block;
 font-size: 15px;
 text-align: start;
 color: black;
 text-decoration: underline;
 width: 100%;
 white-space: nowrap;
 }

.tab-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }

.tab-button:hover {
  background-color: #f57971;
}

.input-box {
    width: 300px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tab-header {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  column-gap: 200px;
  row-gap: 10px;
  align-items: center;
}

.ingredient-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
}

.ingredient-table tbody tr {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.ingredient-table th {
  background-color: #4CAF50;
  color: white;
  padding: 6px 15px;
}

ingredient-list-recipe {
  font-size: 14px;
  text-align: left;
}

.ingredients-search {
  display: flex;
  justify-content: center; /* Align items horizontally */
  align-items: center;     /* Align items vertically */
  margin-top: 10px;        /* Add space above the form */
}

.recipe-img {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 200px;           /* Set the height of the container */
}