<!doctype html>
<html>

<head class="Head">
  {% if title %}
  <title>{{ title }} - Kitchen Assisant</title>
  {% else %}
  <title>Welcome to Kitchen Assisant</title>
  {% endif %}
  <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>
  <div class="content-box">
    <div class="tab-header">
    <a class="tab-button" href="{{ url_for('homepage') }}">Home</a>
    <a class="tab-button" href="{{ url_for('recipes') }}">Recipe Search</a>
    <a class="tab-button" href="{{ url_for('ingredients') }}">Ingredient Substitutions</a>
    <a class="tab-button" href="{{ url_for('converter') }}">Unit Converter</a>
    <a class="tab-button" href="{{ url_for('saves') }}"> Saved Recipes</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
       {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <script src="{{url_for('static', filename='scripts/baseScript.js')}}"></script>
    <script>
      {% block dataSave %}


      {% endblock %}
    </script>

    {% block content %}{% endblock %}
</body>


</html>