{% extends "base.html" %}
{% block content %}
<h1 class="header1">Unit Converter</h1>
<form method="post">
<div>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" required placeholder="100"><br><br>
    </div>
    <div>
        <label for="from_unit">From Unit:</label>
        <select id="from_unit" name="from_unit" required>
            <option value="g">Gram</option>
            <option value="cups">Cup</option>
            <option value="ml">Millilitre</option>
            <option value="oz">Ounce</option>
            <option value="tbsp">Tablespoon</option>
            <option value="tsp">Teaspoon</option>
            <option value="fl oz">Fluid Ounce</option>
        </select><br><br>
    </div>
    <div>
        <label for="to_unit">To Unit:</label>
        <select id="to_unit" name="to_unit" required>
            <option value="g">Gram</option>
            <option value="cups">Cup</option>
            <option value="ml">Millilitre</option>
            <option value="oz">Ounce</option>
            <option value="tbsp">Tablespoon</option>
            <option value="tsp">Teaspoon</option>
            <option value="fl oz">Fluid Ounce</option>7
        </select><br><br>
    </div>
    <input class="button" type="submit" value="Convert">
</form>

{% if result is not none %}
    <h2>Result: {{ result }}</h2>
{% endif %}
{% endblock %}
