{% extends "base.html" %}

{% block content %}
<h1 class="header1">Ingredient Substitution Finder</h1>
<form action="/ingredients" class="ingredients-search">
  <input class="input-box" type="text" name="ingredients" placeholder="Dairy Milk, Meat, Cheese etc.">
  <button class="small-button" type="submit">Search</button>
</form>
{% if data %}
<h2>Possible Alternatives: {{given_ingredient}}</h2>
<table class="ingredient-table">
  <thead>
    <tr>
      <th> Name</th>
      <th> Original Amount</th>
      <th> Subbed amount</th>
      <th> Substitution Type</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data%}
    <tr>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[4]}}</td>
      <td>{{row[5]}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endif %}
{% endblock %}