{% extends "base.html" %}

{% block content %}
<h1 class="header1">Ingredient substitution finder</h1>
<input class="input-box" placeholder="baking soda, lemongrass etc.">
<button class="small-button" onclick="">Search</button>
<h2 class="header2" >Alternatives for {{given_ingredient}}</h2>
<table>
  <thead>
    <tr>
      <th> Name</th>
      <th> discription</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data%}
    <tr>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock %}