{% extends "base.html" %}

{% block content %}
<h1 class="header1" >Recipe Search</h1>
<form action="/recipes">
  <input class="input-box" type="text" name="ingredients" id="recipe_id" placeholder="Enter your ingredients" />
  <button class="small-button" type="submit">Search</button>
</form>
{% if data %}
{% for row in data%}
<div>
  <a href="{{api_url}}" target="blank">
    <img src="{{row.img}}">
  </a>
  <div> <span class="recipe-title">{{row.title}}</span>
    <button class="small-button" onclick="">Save</button>
  </div>
  <br>
  <br>
</div>

{%endfor%}
{% else %}
{% endif %}

{% endblock %}