{% extends "base.html" %}

{% block content %}
<h1>Recipe search</h1>
<form action="/recipes">
  <input type="text" name="ingredients" id="city" placeholder="Enter your ingredients" />
  <button type="submit">Search</button>
</form>
{% if data %}
{% for row in data%}
<div>
  <a href="{{api_url}}" target="blank">
    <img src="{{api_img}}">
  </a>
  <ol>
    <li>{{recipe_title}}</li>
    <li>{{cook_time}}</li>
    <button onclick="">Save</button>
  </ol>

</div>


{%endfor%}
{% else %}
{% endif %}

{% endblock %}